<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/bodymain.css">
    <link rel="stylesheet" href="/static/css/addArticle.css">
    <title>百知课程后台管理系统-修改文章</title>
    <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        $(function () {
            $('#button').click(function () {
                console.log(123)
                console.log({{ article.id}})
                $.ajax({
                    type:'post',
                    url:"{% url 'course:update_logic' %}?id={{ article.id}}&level={{ level }}",
                    data:$('form').serialize(),
                    success:function (resp) {
                        if(resp==='no'){
                            alert('修改失败')
                        }else {
                            console.log(1234)
                            location.href='{% url 'course:pythonBase'%}?level={{ level }}&id={{ article.cate_id }}'
                        }

                    }
                })

            })

        })

        $(function () {
            $("[name='title']").blur(function () {
                var t=$('#t').val()
                var sp=$('#sp')
                if(t===""){
                    sp.innerHTML="文章名称不能为空!"
                    sp.style.color="red"
                    sp.style.size="10px"
                    sp.style.display="inline-block"
                }

            })

        })



    </script>

    <script>
    function selectCourse(t) {
        $.ajax({
            type: "get",
            url: "{% url 'course:get_category' %}",
            data: "course_id=" + t.value,
            success: function (resp) {
                console.log(resp)
                var str = "<option value=\"default-cate\">请选择所属分类：</option>"
                for (var i = 0; i < resp.length; i++) {
                    str += "<option value=\"" + resp[i].id + "\" >" + resp[i].title + "</option>"
                }
                $("[name='cate_sel']").html(str)
            }
        })
    }
    function save() {
        $("form")[1].submit()
    }
</script>


</head>
<body>
<nav class="navbar navbar-default nav-self">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">百知课程后台管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../user/login.html" role="button">{{ username }} <span class="glyphicon glyphicon-log-in"></span></a>
                </li>
                <li>
                    <a href="../user/logout.html">退出 <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="panel-group col-sm-2 left-side-bar" id="accordion" role="tablist" aria-multiselectable="true">
            <div>
                <div class="panel panel-default">
                  <div class="panel-heading left-side-header"><a href="index.html">百知课程</a></div>
                     {% for foo in cates %}
                        <div class="course-python"><a href="{% url 'course:pythonBase' %}?id={{ foo.id }}&level={{ foo.level }}">{{ foo.title}}</a></div>
                        <div class="list-group">
                        {% for sub_cate in sub_cates %}
                            {% if foo.id == sub_cate.parent_id %}
                               <a href="{% url 'course:pythonBase' %}?id={{ sub_cate.id }}&level={{ sub_cate.level }}" class="list-group-item" >{{ sub_cate.title}}</a>
                           {% endif %}
                       {% endfor %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <div class="tab-content col-sm-10 right-side">
        <form action="{% url 'course:update_logic' %}?id={{ article.id }}" method="post">
                {% csrf_token %}
            <div class="panel panel-default right-side-content">
                <div class="page-header">
                  <h3>修改文章</h3>
                </div>
                <table class="table table-bordered" id="table">
                    <tr>
                        <td align="center" valign="middle">文章名称：</td>
                        <td><input type="text" class="my-inp" name="title" onblur="check()" value="{{ article.title }}" id="t"><span id="sp"></span></td>
                    </tr>
                    <tr>
                        <td align="center">所属课程/类别：</td>
                        <td>
                            <select name="cate_sel" class="my-sel" onchange="selectCourse(this)" >
                                 {% for foo in cates %}
                                     {% if foo.id == cate.id %}
                                        <option value={{ foo.title }} selected="selected">{{ foo.title }}</option>
                                     {% endif %}
                                         <option value={{ foo.title }}>{{ foo.title }}</option>
                                 {% endfor %}
                            </select>
                            <select name="course_sel" class="my-sel" onclick="selectCourse(this)">
                                 {% for sub_cate in sub_cates %}
                                       {% if sub_cate.id == sub_cat.id %}
                                        <option value={{ sub_cate.title }} selected="selected">{{ sub_cate.title }}</option>
                                       {% endif %}
                                       <option value={{ sub_cate.id }}>{{ sub_cate.title }}</option>
                                 {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">发布时间：</td>
                        <td>
                            <input type="datetime-local" class="my-inp" name="publish_time" value="{{ article.publish_time|date:'Y-m-d '}}">（默认当前时间）
                        </td>
                    </tr>
                    <tr>
                        <td align="center">文章内容：</td>
                        <td><textarea class="form-control" rows="3" name="content">{{ article.content }}</textarea></td>
                    </tr>
                </table>
                    <div class="btn-toolbar" role="toolbar" aria-label="...">
                        <div class="btn-group" role="group" aria-label="...">
                           <button type="button" class="btn btn-default my-btn" id="button"><span class="glyphicon glyphicon-floppy-disk"></span>
                                保存
                            </button>
{#                            <a href=" " onclick="save()"><button type="button" class="btn btn-default my-btn"><span class="glyphicon glyphicon-floppy-disk"></span>保存</button></a>#}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-heart-empty glyphicon"></span> 关注我们</h4>
                    <p>最受欢迎的管理平台</p>
                    <p><a href="#" class="ic_df"> 新浪微博</a> </p>
                    <p><a href="#" class="ic_weichat"> 官方微信</a> </p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-king"> 开发平台</span> </h4>
                    <p>加入开发平台，尊享会员福利，成为资深程序猿</p>
                    <p class="p_idea"><a href="http://www.baizhibest.com"  class="btn btn-default btn-lg idea">我要开发</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-phone-alt"></span> 关于我们</h4>
                    <p>欢迎反馈宝贵意见</p>
                    <p class="p_idea"><a href="http://www.baizhibest.com"  class="btn btn-default btn-lg idea">意见反馈</a></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 cp_info">
                <div class="no-mp">
                    <p>CopyRight © 2020 北京百知教育科技有限公司 All Rights Reserved</p>
                    <p>电话：010-****888    京ICP备*******8号</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
